.fundamentos{
   text-align: center;
   position: relative;
   min-height: 50vh;
}

.fundamentos__titulo{
    color: var(--branco);
    font-family: var(--fonte-titulo);
    font-size: 2.2rem; 
    font-weight: 700; 
    letter-spacing: 1px; 
    line-height: 1.1;
    padding: 2.2rem 1em 0 1em;
}

.fundamentos__subtitulo{
    color: var(--branco);
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.4;
    max-width: 90%;
    margin: 0 auto;
    padding: 3.5rem 1em 3.5rem 1em;
}

.fundamentos__descricao{
    color: var(--branco-quente);
    font-size: 0.95rem;
    font-weight: 300;
    line-height: 1.6;
    opacity: 0.95;
    max-width: 90%;
    margin: 0 auto;
}

.fundamentos__titulo, .fundamentos__subtitulo, .fundamentos__descricao{
    position: relative;
    z-index: 3;
}

.fundamentos__moldura{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    z-index: 2;
}

.fundamentos__imagem{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(45%);

    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%);
    mask-image: linear-gradient(to top, transparent 0%, black 100%);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

@media screen and (min-width: 1024px){

    .fundamentos{
        min-height: 70vh;
    }
    
    .fundamentos__titulo{
        font-size: 4rem; 
        font-weight: 700;
        letter-spacing: 2px; 
        padding: 3rem 1em 0 1em;
    }
    
    .fundamentos__subtitulo{
        font-size: 1.25rem;
        font-weight: 300;
        max-width: 650px; 
        margin: 0 auto;
        padding: 4.5rem 1em 4.5rem 1em;
        line-height: 1.6;
    }

    .fundamentos__descricao{
        font-size: 1.05rem;
        max-width: 65ch;
        margin: 0 auto;
    }

    .fundamentos__moldura{
        height: 70vh;
    }
}